/* dropdown-list */

.dropdown {
  position: relative;
  display: inline-block;
  transition: all;
  transition-duration: 300ms;
  transition: ease;
}
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 5px;
  
}
.dropdown-content a {
  text-decoration: none;
  display: block;
}
.show {display: block;} 